$theme-color: #1f977c;
$theme-bg-primary: #1f977c;
$theme-bg-secondary: #f6f6f6;
$theme-grey: #999999;
$theme-dim: #aaaaaa;

$label-padding: -4 8 !default;
$input-like-padding: 10 !default;
$searchbox-like-padding: 0 17 !default;

$theme-fs-extra-small: 10 !default;
$theme-fs-small: 12 !default;
$theme-fs-medium: 14 !default;
$theme-fs-large: 16 !default;
$theme-fs-extra-large: 18 !default;
$theme-fs-ultra-large: 24 !default;

$theme-fs-sb-large: 18 !default;
$theme-fs-sb: 14 !default;

$searchbox-like-height: 48 !default;
