* {
  font-family: "NotoSansJP Regular", "NotoSansJP-Regular";
  color: #000;
}

// --
.typo-annotation {
  font-size: $theme-fs-extra-small;
}

//
.typo-list-preview {
  font-size: $theme-fs-small;
  font-family: "NotoSansJP Light", "NotoSansJP-Light";
}
.typo-list-small,
.typo-label {
  font-size: $theme-fs-small;
}

//
.typo-list-heading {
  font-size: $theme-fs-medium;
  font-family: "NotoSansJP Medium", "NotoSansJP-Medium";
  font-weight: 500;
}

//
.typo-page {
  font-size: $theme-fs-large;
  line-height: 1.75;
  font-family: "NotoSansJP Light", "NotoSansJP-Light";
}

.typo-card-heading {
  font-size: $theme-fs-large;
  font-family: "NotoSansJP Medium", "NotoSansJP-Medium";
  font-weight: 500;
}

//
.typo-heading,
.typo-section-heading {
  font-size: $theme-fs-extra-large;
  font-family: "NotoSansJP Medium", "NotoSansJP-Medium";
  font-weight: 500;
}

//
.typo-header {
  font-size: $theme-fs-ultra-large;
  line-height: 1.75;
  font-weight: 700;
}

// --
