<AbsoluteLayout #topicOwner>
  <!-- // -->
  <Image *ngIf="profile"
    iosOverflowSafeArea="true"
    row="0" src="{{ profile.avatarUrl || '~/assets/placeholder__topic@2x.png' }}"
    stretch="aspectFill" width="100%" height="100%"></Image>
  <!-- // -->
  <GridLayout rows="60,*" width="100%" height="100%" class="bg-clear">
    <CustomActionBar row="0" [title]="title" leftIcon="&#xea02;" colorScheme="white"
      [cancelAction]="[closeModal, topicOwner]"></CustomActionBar>
    <!-- // -->
    <ScrollView row="1" class="bg-clear">
      <FlexboxLayout *ngIf="profile"
        flexDirection="column"
        alignItems="center"
        justifyContent="center"
        style="margin:20 15 80; background:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5))">
        <Image src="{{ profile.avatarUrl || '~/assets/placeholder__user.png' }}"
          stretch="aspectFill" height="165" width="165" style="border-radius:80; margin:40 0;"></Image>
        <Label class="h2" text="{{ profile.username }}"></Label>
        <Label textWrap="true" text="{{ profile.description || '' }}" style="line-height:1.75"></Label>
        <GridLayout columns="auto">
          <Button text="ポイントを送る" class="btn btn-primary btn-rounded-lg" style="padding:10 20;"
            (tap)="sendPoint()"></Button>
        </GridLayout>
      </FlexboxLayout>
    </ScrollView>
  </GridLayout>
  <!-- // -->
</AbsoluteLayout>
