<AbsoluteLayout>
  <StackLayout #sizeAnchor class="util-anchor-full"></StackLayout>

  <ScrollView class="bg-theme-secondary" width="100%" height="100%">
    <StackLayout margin="60 0 0">
      <StackLayout padding="15 20">
        <SearchboxLike
          placeholder="検索"
          followContent="&#xe997;"
          followIsIcon="true"
          (onSearch)="searchAction()"
          (onTapFollowContent)="modalAction()"></SearchboxLike>
      </StackLayout>

      <ActivityIndicator *ngIf="currentList?.length == 0 && !loadingRetired" busy="true" width="20"></ActivityIndicator>

      <FlexboxLayout *ngIf="currentList?.length == 0 && loadingRetired"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
        [height]="anchorRefH">
        <Label class="typo-message-light text-darkgrey" text="メッセージはありません"></Label>
      </FlexboxLayout>

      <ng-template ngFor let-item [ngForOf]="currentList" let-i="index">

        <StackLayout class="bg-theme-secondary">
          <CardView margin="1 20" elevation="5" class="bg-white"
            (tap)="onItemTap(item)">
            <StackLayout height="90">
              <GridLayout columns="80,*,60" rows="*" class="p-15">
                <Image col="0" class="m-r-15" style="border-radius:80;" stretch="aspectFill" width="60" height="60" loadMode="async"
                  src="{{ item?.photoUrl || '~/assets/placeholder__group.png' }}"></Image>
                <StackLayout col="1" verticalAlignment="center">
                  <Label class="typo-list-heading" [text]="parseTitle(item)"></Label>
                  <Label class="typo-list-preview" text="{{ item?.lastMessage?.text }}" android:style="margin-top:-10;"></Label>
                </StackLayout>
                <Label col="2" class="typo-list-date" style="vertical-align:top; text-align:right;"
                  text="{{ parseDate(item) | amLocal | amDateFormat: 'HH:mm' }}"></Label>
              </GridLayout>
            </StackLayout>
          </CardView>
        </StackLayout>

      </ng-template>

      <StackLayout *ngIf="currentList?.length > 0"
        height="30"></StackLayout>

    </StackLayout>
  </ScrollView>

  <StackLayout orientation="horizontal" width="100%" height="58" class="bg-white">
    <ScrollView orientation="horizontal">
      <StackLayout orientation="horizontal">
        <ng-template ngFor let-item [ngForOf]="navList" let-i="index">
          <Label text="{{ item.name }}" padding="5 20" class="bg-clear" virticalAlignment="bottom"
            [ngClass]="{ 'bottom-border-theme': currentCommunityId == item.id, 'bottom-border-clear': currentCommunityId != item.id }"
            (tap)="onNavItemTap(item)"></Label>
        </ng-template>
      </StackLayout>
    </ScrollView>
  </StackLayout>

  <FAB #floatingButton
    left="-200"
    top="-200"
    (tap)="modalAction('thread-new')"
    class="fab-btn" icon="~/assets/fabtn-plus-72x72.png" backgroundColor="#1f977c"></FAB>
</AbsoluteLayout>
