<AbsoluteLayout>
  <StackLayout #sizeAnchor class="util-anchor-full"></StackLayout>

  <ScrollView #scrollView width="100%" height="100%" class="bg-theme-secondary">
    <StackLayout>

      <StackLayout class="bg-theme-secondary">
        <GridLayout rows="*"
          backgroundImage="{{ currentCommunity?.coverPhotoUrl || '~/assets/placeholder__topic@2x.png' }}"
          style="background-repeat: no-repeat; background-size:cover;">
          <GridLayout cols="*" rows="70,120,*,*" height="300"
            style="background:linear-gradient(rgba(0,0,0,.05), rgba(0,0,0,.65))">
            <StackLayout row="0" width="100%" height="60" class="bg-clear">
              <CustomActionBar colorScheme="white"
                leftIcon="{{ isPreview ? '&#xe92f;' : '' }}"
                rightIcon="{{ isPreview ? '' : (communities.length > 1 ? '&#xe9cb;' : '&#xe9b1;') }}"
                (onAprove)="onSwitchTap()"></CustomActionBar>
            </StackLayout>
            <Image col="0" row="1"
              src="{{ currentCommunity?.photoUrl || '~/assets/placeholder__topic@2x.png' }}" stretch="aspectFill" width="100" height="100"
              style="border-radius:80; border-color:#fff; border-width:2;"></Image>
            <Label col="0" row="2"
              class="typo-header text-center text-white" [text]="currentCommunity?.name" style="padding:0; margin:5 0;"></Label>
            <FlexboxLayout col="0" row="3"
              alignItems="center"
              justifyContent="center"
              style="padding:0; margin:0 0 5;">
              <Label *ngIf="!isPreview"
                (tap)="onTabTap('topics')" class="h3 m-x-10 p-5 text-center text-white" text="トピック"
                [class.bottom-border-white]="currentTab == 'topics'"></Label>
              <Label (tap)="onTabTap('news')" class="h3 m-x-10 p-5 text-center text-white" text="お知らせ"
                [class.bottom-border-white]="currentTab == 'news'"></Label>
              <Label (tap)="onTabTap('profile')" class="h3 m-x-10 p-5 text-center text-white" text="プロフィール"
                [class.bottom-border-white]="currentTab == 'profile'"></Label>
            </FlexboxLayout>
          </GridLayout>
        </GridLayout>
        <!-- // -->
        <StackLayout class="m-x-20 m-t-30 m-b-15"
          *ngIf="!isPreview && (currentTab === 'topics'); else elseBlock">
          <SearchboxLike
            (onSearch)="searchAction()"></SearchboxLike>
        </StackLayout>
        <!-- // -->
        <ng-template #elseBlock>
          <StackLayout class="m-y-10 bg-theme-secondary" height="0"></StackLayout>
        </ng-template>
      </StackLayout>

      <!-- // -->

      <StackLayout #topicsContainer visibility="{{ currentTab == 'topics' ? 'visible' : 'collapsed' }}">
        <ng-template ngFor let-item [ngForOf]="topics" let-i="index">

          <StackLayout class="bg-theme-secondary">
            <CardView margin="10 20" elevation="10" class="bg-white"
              (tap)="onItemTap(item)">
              <StackLayout class="bg-clear">
                <AbsoluteLayout height="160">
                  <Image left="0" top="0" stretch="aspectFill" width="100%" height="100%" loadMode="async"
                    src="{{ item.photoUrl || '~/assets/placeholder__topic@2x.png' }}" ></Image>
                  <Label left="10" top="10" class="label-like label-theme" text="{{ item.type }}"></Label>
                </AbsoluteLayout>
                <Label class="typo-card-heading p-10" textWrap="true" text="{{ item.title }}"></Label>
                <FlexboxLayout class="p-10 bg-white"
                  flexWrap="wrap"
                  flexDirectoin="column"
                  justifyContent="space-between">
                  <StackLayout orientation="horizontal" class="typo-list-small">
                    <Image src="{{ item?.createdBy.avatarUrl || '~/assets/placeholder__user@2x.png' }}"
                      stretch="aspectFill" height="18" width="18" style="border-radius:10;"></Image>
                    <Label class="m-l-5 text-bold" text="{{ item?.createdBy.username || '-' }}"></Label>
                  </StackLayout>
                  <WrapLayout>
                    <Label class="m-r-10 typo-list-small">
                      <FormattedString>
                        <Span text="{{ currentCommunity?.tokenSymbol }}" class="text-theme"></Span>
                        <Span text=" {{ item?.points }}"></Span>
                      </FormattedString>
                    </Label>
                    <StackLayout orientation="horizontal" class="typo-list-small">
                      <Label verticalAlignment="center" text="&#xe939;" class="icon text-theme-primary"></Label>
                      <Label text=" {{ item?.createdAt | amLocal | amTimeAgo }}"></Label>
                    </StackLayout>
                  </WrapLayout>
                </FlexboxLayout>
              </StackLayout>
            </CardView>
          </StackLayout>

        </ng-template>

      </StackLayout>

      <!-- // -->

      <StackLayout visibility="{{ currentTab == 'news' ? 'visible' : 'collapsed' }}">

        <ng-template ngFor let-item [ngForOf]="news" let-i="index">

          <StackLayout class="bg-theme-secondary">
            <CardView margin="1 20" elevation="5" class="bg-white"
              (tap)="onItemTap(item)">
              <StackLayout class="bg-clear">
                <GridLayout columns="*,60" rows="90" class="bg-clear">
                  <StackLayout col="0" class="p-10">
                    <Label class="typo-list-heading" text="{{ item?.post_title }}"></Label>
                    <Label class="typo-annotation text-grey" text="{{ item?.post_date | amLocal | amDateFormat: 'YYYY.MM.DD' }}"></Label>
                  </StackLayout>
                  <Label col="1" class="h2 p-10 icon text-theme" text="&#xe930;" style="vertical-align:center;"
                    visibility="{{ isPreview ? 'collapse' : 'visible' }}"></Label>
                </GridLayout>
              </StackLayout>
            </CardView>
          </StackLayout>

        </ng-template>

      </StackLayout>

      <!-- // -->

      <StackLayout visibility="{{ currentTab == 'profile' ? 'visible' : 'collapsed' }}">

        <StackLayout class="bg-theme-secondary">
          <CardView margin="1 20" elevation="5" class="bg-white">
            <GridLayout rows="*" padding="15">
              <Label *ngIf="isProd" class="typo-page" textWrap="true" text="{{ profile?.description }}"></Label>
              <Label *ngIf="!isProd" class="typo-page" textWrap="true" text="{{ profile?.description }}
-- auto insert long text @dev build only --
The order of route configuration matters. The router accepts the first route that matches a navigation request path. When all routes were in one AppRoutingModule, you put the default and wildcard routes last, after the /heroes route, so that the router had a chance to match a URL to the /heroes route before hitting the wildcard route and navigating to 'Page not found'.The routes are no longer in one file. They are distributed across two modules, AppRoutingModule and HeroesRoutingModule.Each routing module augments the route configuration in the order of import. If you list AppRoutingModule first, the wildcard route will be registered before the hero routes. The wildcard route—which matches every URL—will intercept the attempt to navigate to a hero route."></Label>
            </GridLayout>
          </CardView>
        </StackLayout>

      </StackLayout>

      <StackLayout class="p-10 bg-theme-secondary" style="{{ isPreview ? 'margin-bottom:90;' : '' }}">
        <Button *ngIf="(currentTab == 'topics' && topics?.length && topics?.length > 0 && currentTotalTopics > topics?.length) || (currentTab == 'news' && news?.length % pagingConfig.news.size == 0 && news?.length > 0)"
          class="btn btn-rounded-lg btn-primary btn-black" width="40%" text="さらに読む"
          (tap)="onMoreReadTap()"></Button>
      </StackLayout>

    </StackLayout>

  </ScrollView>


  <FAB #floatingButton
    left="-200"
    top="-200"
    visibility="{{ isPreview ? 'collapse' : 'visible' }}"
    (tap)="onFabTap()"
    class="fab-btn" icon="~/assets/fabtn-plus-72x72.png" backgroundColor="#1f977c"></FAB>

  <FlexboxLayout #floatingToggle
    class="p-15 bg-clear" width="100%" height="120"
    visibility="{{ isPreview ? 'visible' : 'collapse' }}"
    flexDirection="row"
    justifyContent="space-around"
    alignContent="space-around"
    alignItems="center">
    <Button alignSelf="center" text="{{ inDraft ? '選択中' : '選択する' }}" class="btn btn-primary btn-rounded-lg" width="50%"
      [class.btn-black]="inDraft"
      (tap)="toDraft()"></Button>
  </FlexboxLayout>

</AbsoluteLayout>
