/* Add mobile styles for the component here.  */
.navfooter-nav {
  background-color: #fff;

  .nav-item {
    background-color: transparent;

    > * {
      background-color: transparent;
    }
  }
}
