<DockLayout stretchLasthChild="true" class="bg-theme-secondary">
  <StackLayout dock="top">
    <CustomActionBar [title]="title" leftIcon="&#xe92f;" rightIcon="{{ touched && fieldIsValid ? '&#xe92b;' : '' }}"
      (onAprove)="nextPage()"></CustomActionBar>
  </StackLayout>
  <PreviousNextView>
    <ScrollView>
      <StackLayout class="p-15 form" [formGroup]="rForm">
        <HtmlView class="bg-clear" html="<p style='text-align:center; font-family:NotoSansJP Regular, NotoSansJP-Regular;'>パスワードを設定してください。<br>8文字以上、半角英数と記号（_）が使用できます。</p>"></HtmlView>
        <TextField
          class="input"
          [class.error]="firstError"
          hint="パスワード"
          formControlName="password"
          secure="true"></TextField>
        <TextField
          class="input"
          [class.error]="firstError"
          hint="パスワードを再入力"
          formControlName="passwordConfirm"
          secure="true"></TextField>
        <!-- //  -->
        <Label *ngIf="firstError?.maxlength"
          class="text-error typo-annotation"
          text="{{ firstError?.maxlength?.requiredLength }}文字以内にしてください"></Label>
        <Label *ngIf="firstError?.minlength"
          class="text-error typo-annotation"
          text="{{ firstError?.minlength?.requiredLength }}文字以上にしてください"></Label>
        <Label *ngIf="firstError?.email"
          class="text-error typo-annotation"
          text="無効なメールアドレスです"></Label>
        <Label *ngIf="firstError?.pattern"
          class="text-error typo-annotation"
          text="使用できない文字列が含まれています"></Label>
        <!-- // -->
      </StackLayout>
    </ScrollView>
  </PreviousNextView>
</DockLayout>
