<GridLayout #componentRoot width="100%" rows="auto,*" class="bg-clear" style="border-width:0;"
  (tap)="blockTap()"
  height="200"
  visibility="{{ isShown ? 'visible' : 'collapse' }}">

  <!-- // -->
  <StackLayout *ngIf="isApproved" class="bg-clear" row="0" height="60" style="border-width:0;"></StackLayout>
  <GridLayout *ngIf="isApproved"
    row="1"
    columns="60,*,60" rows="60"
    [ngClass]="{ 'bg-theme': barColor == 'theme', 'bg-error': barColor == 'error', 'bg-warning': barColor == 'warning' }">
    <Label col="1" class="text-center text-white" textWrap="true" verticalAlignment="center"
      [text]="doneMessage"></Label>
    <Label col="2" class="p-y-10 text-center icon text-white" style="vertical-align:center; font-size:24;" text="&#xea02;"
      visibility="{{ canUserDisposable ? 'visible' : 'collapse' }}"
      (tap)="disposeBar()"></Label>
  </GridLayout>

  <!-- // -->
  <StackLayout *ngIf="!isApproved"
    row="0" height="60"
    class="bg-theme p-x-15" orientation="horizontal">
    <Label class="text-center text-white" verticalAlignment="center" width="100%"
      [text]="approveMessage"></Label>
  </StackLayout>
  <GridLayout *ngIf="!isApproved"
    row="1"
    columns="*,*", rows="60"
    class="bg-theme p-x-15">
    <Button col="0" class="btn btn-white btn-rounded-lg" text="キャンセル"
      (tap)="cancelOrBack()"></Button>
    <Button #testBtn col="1" class="btn btn-black btn-rounded-lg" text="OK"
      (tap)="approveOrNext()"></Button>
  </GridLayout>
</GridLayout>
