<DockLayout stretchLasthChild="true" class="bg-theme-secondary">
  <StackLayout dock="top">
    <CustomActionBar [title]="title" leftIcon="&#xe92f;" rightIcon="{{ touched && fieldIsValid ? '&#xe92b;' : '' }}"
      (onCancel)="goBack()"
      (onAprove)="goNext()"></CustomActionBar>
  </StackLayout>
  <PreviousNextView>
    <ScrollView>
      <StackLayout class="p-15 form" [formGroup]="rForm">
        <!-- // -->
        <HtmlView *ngIf="field == 'username'"
          class="bg-clear"
          html="<p style='text-align:center; font-family:NotoSansJP Regular, NotoSansJP-Regular, Noto Sans JP Regular;'>ユーザーネームを設定してください。<br>15文字以内、半角英数と記号（_）が使用できます。</p>"></HtmlView>
        <HtmlView *ngIf="field == 'emailAddress'"
          class="bg-clear"
          html="<p style='text-align:center; font-family:NotoSansJP Regular, NotoSansJP-Regular, Noto Sans JP Regular;'>メールアドレスを設定してください。</p>"></HtmlView>
        <HtmlView *ngIf="field == 'password'"
          class="bg-clear"
          html="<p style='text-align:center; font-family:NotoSansJP Regular, NotoSansJP-Regular, Noto Sans JP Regular;'>パスワードを設定してください。<br>8文字以上、半角英数と記号（_）が使用できます。</p>"></HtmlView>
        <!-- // -->
        <GridLayout *ngIf="field == 'password'"
          columns="*,48" rows="{{ isIOS ? 48 : 60 }}" style="padding:0;"
          class="input"
          [class.error]="firstError">
          <TextField
            col="0"
            class="input" style="margin-bottom:0;"
            [class.error]="firstError"
            [hint]="title"
            [secure]="isSecure"
            [formControlName]="field"
            (returnPress)="onValidate()"></TextField>
          <Label col="1" class="icon text-darkgrey text-center p-x-15 p-y-10" verticalAlignment="center"
            text="{{ isSecure ? '&#xe95c;' : '&#xe95d;' }}"
            (tap)="togglePassword()"></Label>
        </GridLayout>
        <!-- // -->
        <TextField *ngIf="field != 'password'"
          class="input"
          keyboardType="{{ field == 'emailAddress' ? 'email' : 'url' }}"
          [class.error]="firstError"
          [hint]="title"
          [formControlName]="field"></TextField>
        <!-- // -->
        <GridLayout *ngIf="field == 'password' && needConfirmInput"
          columns="*" rows="{{ isIOS ? 48 : 60 }}" style="padding:0;"
          class="input"
          [class.error]="firstError">
          <TextField
            col="0"
            class="input" style="margin-bottom:0;"
            [class.error]="firstError"
            hint="{{ title }}を再入力"
            [secure]="isSecure"
            formControlName="{{ field }}Confirm"
            (returnPress)="onValidate()"></TextField>
        </GridLayout>
        <!-- // -->
        <TextField *ngIf="field != 'password' && needConfirmInput"
          class="input"
          keyboardType="{{ field == 'emailAddress' ? 'email' : 'url' }}"
          [class.error]="firstError"
          hint="{{ title }}を再入力"
          formControlName="{{ field }}Confirm"
          [secure]="field.indexOf('password') > -1 && isSecure"></TextField>
        <!-- //  -->
        <Label *ngIf="firstError?.maxlength"
          class="text-error typo-annotation"
          text="{{ firstError?.maxlength?.requiredLength }}文字以内にしてください"></Label>
        <Label *ngIf="firstError?.minlength"
          class="text-error typo-annotation"
          text="{{ firstError?.minlength?.requiredLength }}文字以上にしてください"></Label>
        <Label *ngIf="firstError?.email"
          class="text-error typo-annotation"
          text="無効なメールアドレスです"></Label>
        <Label *ngIf="firstError?.pattern"
          class="text-error typo-annotation"
          text="使用できない文字列が含まれています"></Label>
        <Label *ngIf="needConfirmInput && !confirmIsValid"
          class="text-error typo-annotation"
          text="確認の入力内容が異なります"></Label>
        <!-- // -->
      </StackLayout>
    </ScrollView>
  </PreviousNextView>
</DockLayout>
