<DockLayout stretchLasthChild="true" class="bg-theme-secondary">
  <StackLayout dock="top">
    <CustomActionBar *ngIf="field == 'password' || field == 'emailAddress'"
      [title]="title" leftIcon="&#xe92f;" rightIcon="{{ touched && fieldIsValid && confirmIsValid ? '&#xe92b;' : '' }}"
      (onAprove)="submit()"></CustomActionBar>
    <CustomActionBar *ngIf="field != 'password' && field != 'emailAddress'"
      [title]="title" leftIcon="&#xe92f;" rightIcon="{{ touched && fieldIsValid ? '&#xe92b;' : '' }}"
      (onAprove)="submit()"></CustomActionBar>
  </StackLayout>
  <!-- <PreviousNextView> -->
  <ScrollView row="1" width="100%" class="bg-theme-secondary">
    <StackLayout orientation="vertical" class="p-15 form" [formGroup]="pForm">
      <Label *ngIf="field == 'emailAddress'"
        class="text-center text-dim"
        text="新しい{{ title }}を入力してください。"></Label>
      <Label *ngIf="field == 'password'"
        class="text-center text-dim"
        text="現在の{{ title }}を入力してください。"></Label>
      <!-- // -->
      <TextView *ngIf="field == 'status' || field == 'description'"
        class="input"
        [class.error]="firstError"
        [hint]="title"
        [formControlName]="field"
        (returnPress)="onValidate()"></TextView>
      <TextView *ngIf="field == 'emailAddress'"
        class="input"
        keyboardType="email"
        [class.error]="firstError"
        [hint]="title"
        [formControlName]="field"
        (returnPress)="onValidate()"></TextView>
      <GridLayout *ngIf="field == 'password'"
        columns="*,48" rows="{{ isIOS ? 48 : 60 }}" style="margin-bottom:0; padding:0;"
        class="input"
        [class.error]="firstError">
        <TextField
          col="0"
          class="input" style="margin-bottom: 0;"
          [class.error]="firstError"
          [hint]="title"
          [secure]="isSecure"
          [formControlName]="field"
          (returnPress)="onValidate()"></TextField>
        <Label col="1" class="icon text-darkgrey text-center p-x-15 p-y-10" verticalAlignment="center"
          text="{{ isSecure ? '&#xe95c;' : '&#xe95d;' }}"
          (tap)="togglePassword()"></Label>
      </GridLayout>
      <TextField *ngIf="field != 'status' && field != 'description' && field != 'password' && field != 'emailAddress'"
        class="input"
        [class.error]="firstError"
        [hint]="title"
        [formControlName]="field"
        (returnPress)="onValidate()"></TextField>
      <!-- // -->
      <TextField *ngIf="field == 'password' || field == 'emailAddress'"
        class="input"
        [class.error]="firstErrorInConfirm"
        hint="{{ title }}を再入力"
        formControlName="{{ field }}Confirm"
        (returnPress)="onValidate()"></TextField>
      <!-- // -->
      <Label *ngIf="firstError?.required"
        class="text-error typo-annotation"
        text="必須のフィールドです"></Label>
      <Label *ngIf="firstError?.maxlength"
        class="text-error typo-annotation"
        text="{{ firstError?.maxlength?.requiredLength }}文字以内にしてください"></Label>
      <Label *ngIf="firstError?.minlength"
        class="text-error typo-annotation"
        text="{{ firstError?.minlength?.requiredLength }}文字以上にしてください"></Label>
      <Label *ngIf="firstError?.email"
        class="text-error typo-annotation"
        text="無効なメールアドレスです"></Label>
      <Label *ngIf="firstError?.pattern"
        class="text-error typo-annotation"
        text="使用できない文字列が含まれています"></Label>
      <Label *ngIf="!confirmIsValid"
        class="text-error typo-annotation"
        text="確認の入力内容が異なります"></Label>
      <!-- // -->
    </StackLayout>
  </ScrollView>
  <!-- </PreviousNextView> -->
</DockLayout>
