<DockLayout #communityList width="100%" height="100%">
  <StackLayout dock="top" class="bg-theme-secondary" height="60">
    <CustomActionBar *ngIf="mode == 'switch'; else elseBlock"
      [title]="title" leftIcon="&#xea02;" rightIcon="{{ selected == draft ? '&#xe9b1;' : '&#xe92b;' }}"
      (onCancel)="cancelAction(communityList)"
      (onAprove)="switchModeOrSubmitChange()"></CustomActionBar>
    <ng-template #elseBlock>
      <CustomActionBar [title]="title" leftIcon="&#xe92f;" rightIcon="{{ (mode == 'edit' && draftIsChanged) ? '&#xe92b;' : '' }}"
        (onCancel)="cancelAction(communityList)"
        (onAprove)="confirmChange()"></CustomActionBar>
    </ng-template>
  </StackLayout>

  <ScrollView class="bg-theme-secondary">
    <StackLayout>

      <StackLayout *ngIf="mode != 'submit'"
        padding="20 20 15">
        <SearchboxLike *ngIf="!isSearchMode"
          placeholder="名前で絞り込む"
          (onSearch)="searchMode()"></SearchboxLike>
        <CustomSearchbox *ngIf="isSearchMode"
          placeholder="名前で絞り込む"
          followContent="キャンセル"
          focusAtInit="true"
          (onSearch)="searchAction($event)"
          (onTapFollowContent)="searchMode()"></CustomSearchbox>
      </StackLayout>

      <ActivityIndicator *ngIf="currentList?.length == 0" busy="true" width="20"></ActivityIndicator>

      <ng-template ngFor let-item [ngForOf]="currentList" let-i="index">
        <StackLayout class="bg-theme-secondary">
          <CardView margin="1 20" elevation="5" class="bg-white"
            (tap)="onItemTap(item)">
            <StackLayout class="bg-clear">
              <GridLayout columns="80,*,60" rows="90" class="bg-clear">
                <Image col="0" class="m-x-10" style="border-radius:80;" stretch="aspectFill" width="60" height="60" loadMode="async"
                  src="{{ item.photoUrl || '~/assets/placeholder__group.png' }}"></Image>
                <StackLayout col="1" orientation="horizontal" class="p-10">
                  <Label class="h3" text="{{ item.name }}" virticalAlignment="stretch"></Label>
                </StackLayout>
                <Label *ngIf="mode == 'switch'; else elseBlock2"
                  col="2" class="h2 p-10 icon"
                  [class.text-theme]="draft == item.id"
                  text="{{ draft == item.id ? '&#xe92c;' : '&#xe937;' }}" style="vertical-align:center;"></Label>
                <ng-template #elseBlock2>
                  <Label col="2" class="h2 p-10 icon text-theme"
                    text="{{ inDraft(item.id) ? '&#xe92c;' : '&#xe930;' }}" style="vertical-align:center;"></Label>
                </ng-template>
              </GridLayout>
            </StackLayout>
          </CardView>
        </StackLayout>
      </ng-template>

    </StackLayout>
  </ScrollView>

</DockLayout>
