// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.ios';

// Import common styles
@import 'app-common';

@import './assets/scss/theme-variable';
@import './assets/scss/theme-variable.ios';
@import './assets/scss/theme';

// Place any CSS rules you want to apply only on iOS here
.btn {
  min-height: 42;
}

// some tweaks for RadDataForm
DataFormEditorLabel {
  background-color: transparent;
  width: 0;
}

PropertyEditor,
PropertyGroup,
DataFormEditorCore {
  background-color: transparent;
  border-color: transparent;
  color: #303030;
}
// --
